{% extends 'UserManagement/Base.html' %}

{% block content%}

<div style="margin:10px 10px 10px 10px">
    <div class="row justify-content-center">
        <h1 class="simple-text logo-normal"> 
            <br> 
            Sign Up 
        </h1>
    </div>

    <div class="row justify-content-center">
        <form method="POST" >
            <br>
            {% csrf_token %}   
            {% for field in form %}
                {{ field|linebreaks}}
            {% endfor %}
            <button type="submit" style="width: 200px;" name="save" class="btn btn-secondary">Create User</button>

            <br>        
        </form>
    </div>
</div>
{% endblock %}