{% extends 'main/Layout.html' %}

{% block sidebar%}
<div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item ">
        <a class="nav-link" href="/analytics">
          <i class="material-icons">dashboard</i>
          <p>This Week</p>
        </a>
      </li>
      <li class="nav-item active ">
        <a class="nav-link" onclick="location.href = '/analytics/datesearch'">
          <i class="material-icons">date_range</i>
          <p>Search In Time</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" onclick="location.href = '/analytics/wordsearch'">
          <i class="material-icons">search</i>
          <p>Search For Words</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" onclick="location.href = '/analytics/account'">
          <i class="material-icons">person_outline</i>
          <p>Account</p>
        </a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block content%}
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-xl-3 col-lg-12">
        <br>
        <br> 
        <div class="input-group no-border">
          <form action="/analytics/datesearch/" method="POST">
            {% csrf_token %}
            <input type="date" id="from_date" name="from_date" value="" class="form-control" >
            <input type="date" id="to_date" name="to_date" value="" class="form-control" >
            <button type="submit" class="btn btn-default btn-round btn-just-icon" style="float: right;">
              <i class="material-icons">search</i>
            </button>
          </form>
        </div>
    </div>
  </div>
    
    <div class="row justify-content-center">
      <div class="col-lg-11 col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Tweets</h4>
            <p class="card-category">Content For The Search</p>
          </div>
          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead class="text-warning">
                <th> </th>
                <th>Post Date</th>
                <th>Post</th>
                <th>Sentiment</th>
              </thead>
              <tbody>
                {% for tweet in post_data.combined %}
                  <tr>
                    {% for column in tweet %}
                      <td>{{ column }}</td>
                    {% endfor %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            <div class="pagination_section" style="text-align:right;padding-right:30px"> 
              <a href="#" title="1">1 </a> 
              <a href="#" title="2">2 </a> 
              <a href="#" title="3">3 </a> 
              <a href="#" title="4" class="active">4 </a> 
              <a href="#" title="5">5 </a> 
          </div> 
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
