{% extends 'main/Layout.html' %}

{% block sidebar%}
<div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item ">
        <a class="nav-link" href="/analytics">
          <i class="material-icons">dashboard</i>
          <p>This Week</p>
        </a>
      </li>
      <li class="nav-item active ">
        <a class="nav-link" onclick="location.href = '/analytics/search'">
          <i class="material-icons">search</i>
          <p>Custom Search</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" onclick="location.href = '/analytics/account'">
          <i class="material-icons">person_outline</i>
          <p>Account</p>
        </a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block content%}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-xl-4 col-lg-12">
            <br>
            <br> 
            <div class="input-group no-border">
              <form action="/analytics/search/" method="POST">
                {% csrf_token %}
                <input type="date" id="from_date" name="from_date" value="" class="form-control" >
                <input type="date" id="to_date" name="to_date" value="" class="form-control" >
                <input id="search_words" name="search_words" type="text" class="form-control" placeholder="Search..." style="width:300px;">
                <button type="submit" class="btn btn-default btn-round btn-just-icon" style="float: right;">
                  <i class="material-icons">search</i>
                </button>
              </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
