{% extends 'main/Layout.html' %}

{% block content%}
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-11 col-md-12">
      <div class="card">
        <div class="card-header card-header-success">
          <h4 class="card-title">Entities</h4>
          <p class="card-category">Most Referenced Entities</p>
        </div>
        <div class="card-body table-responsive">
          <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

          <script type="text/javascript">
            google.charts.load('current', {'packages':['bar']});
            google.charts.setOnLoadCallback(drawChartEnt);
            function drawChartEnt() {
              var input_data_ent = JSON.parse("{{entities|escapejs}}");
              var data_ent = google.visualization.arrayToDataTable(input_data_ent);
              var options = {
                chartArea:{
                  backgroundColor:"transparent"
                },
                axes: {
                  y: {
                    0: { side: 'left', label: 'Entities'} // Top x-axis.
                  }
                },
                bars: 'horizontal', // Required for Material Bar Charts.
                backgroundColor:"transparent",
                dataOpacity:0.8,
                colors:['#92c2dd']
              };
      
              var chart = new google.charts.Bar(document.getElementById('barchart_material_ent'));
      
              chart.draw(data_ent, google.charts.Bar.convertOptions(options));
            }
          </script>
          
          <div id="barchart_material_ent" style="opacity: 0.8;height: 500px;"></div>
        </div>
      </div>
    </div>
  </div>   

  <div class="row justify-content-center">
    <div class="col-lg-11 col-md-12">
      <div class="card">
        <div class="card-header card-header-tabs card-header-success">
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
              <span class="nav-tabs-title">CONCURRENCY GRAPH ANALYSIS (ENTITIES)</span>
              <ul class="nav nav-tabs" data-tabs="tabs">
                <li class="nav-item">
                  <a class="nav-link active" href="#adjacency" data-toggle="tab">
                    Most Connected
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="#degree" data-toggle="tab">
                    Degree Centrality
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="#betweenness" data-toggle="tab">
                    Betweenness Centrality
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="#closeness" data-toggle="tab">
                    Closeness Centrality
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="#clustering" data-toggle="tab">
                    Clustering Coefficient
                    <div class="ripple-container"></div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane active" id="adjacency">
              <table class="table">
                <thead class="text-warning">
                    <th>Entity</th>
                    <th>Entity</th>
                    <th>Weight</th>
                </thead>
                <tbody>
                  {% for row in concurreny_entities.adjacency %}
                <tr>
                  {% for col in row %}
                    <td>{{ col }}</td>
                  {% endfor %}
                </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="tab-pane " id="degree">
              <table class="table">
                <thead class="text-warning">
                  {% for title in concurreny_entities.title %}
                    <th>{{ title }}</th>
                  {% endfor %}
                </thead>
                <tbody>
                  {% for row in concurreny_entities.degree %}
                <tr>
                  {% for col in row %}
                    <td>{{ col }}</td>
                  {% endfor %}
                </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="tab-pane " id="betweenness">
              <table class="table">
                <thead class="text-warning">
                  {% for title in concurreny_entities.title %}
                    <th>{{ title }}</th>
                  {% endfor %}
                </thead>
                <tbody>
                  {% for row in concurreny_entities.betweenness %}
                <tr>
                    {% for col in row %}
                      <td>{{ col }}</td>
                    {% endfor %}
                </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="tab-pane " id="closeness">
              <table class="table">
                <thead class="text-warning">
                  {% for title in concurreny_entities.title %}
                    <th>{{ title }}</th>
                  {% endfor %}
                </thead>
                <tbody>
                  {% for row in concurreny_entities.closeness %}
                <tr>
                  {% for col in row %}
                    <td>{{ col }}</td>
                  {% endfor %}
                </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="tab-pane " id="clustering">
              <table class="table">
                <thead class="text-warning">
                  {% for title in concurreny_entities.title %}
                    <th>{{ title }}</th>
                  {% endfor %}
                </thead>
                <tbody>
                  {% for row in concurreny_entities.clustering %}
                <tr>
                  {% for col in row %}
                    <td>{{ col }}</td>
                  {% endfor %}
                </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            </div>
          </div>
        </div>
      </div>
  </div>


  <div class="row justify-content-center">
    <div class="col-lg-11 col-md-12">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">User Mentions</h4>
          <p class="card-category">Most Mentioned Users</p>
        </div>
        <div class="card-body table-responsive">
          <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

          <script type="text/javascript">
            google.charts.load('current', {'packages':['bar']});
            google.charts.setOnLoadCallback(drawChartEnt);
            function drawChartEnt() {
              var input_data_ment = JSON.parse("{{mentions|escapejs}}");
              var data_ment = google.visualization.arrayToDataTable(input_data_ment);
              var options = {
                chartArea:{
                  backgroundColor:"transparent"
                },
                axes: {
                  y: {
                    0: { side: 'left', label: 'Users'} // Top x-axis.
                  }
                },
                bars: 'horizontal', // Required for Material Bar Charts.
                backgroundColor:"transparent",
                dataOpacity:0.8,
                colors: ['#e3c654']
                };
      
              var chart = new google.charts.Bar(document.getElementById('barchart_material_ment'));
      
              chart.draw(data_ment, google.charts.Bar.convertOptions(options));
            }
          </script>
          
          <div id="barchart_material_ment" style="opacity: 0.8;height: 500px;"></div>
        </div>
      </div>
    </div>
  </div>  

  <div class="row justify-content-center">
    <div class="col-lg-11 col-md-12">
      <div class="card">
        <div class="card-header card-header-tabs card-header-primary">
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
              <span class="nav-tabs-title">CONCURRENCY GRAPH ANALYSIS (MENTIONS)</span>
              <ul class="nav nav-tabs" data-tabs="tabs">
                <li class="nav-item">
                  <a class="nav-link active" href="#adjacency_ment" data-toggle="tab">
                    Most Connected
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="#degree_ment" data-toggle="tab">
                    Degree Centrality
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="#betweenness_ment" data-toggle="tab">
                    Betweenness Centrality
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="#closeness_ment" data-toggle="tab">
                    Closeness Centrality
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="#clustering_ment" data-toggle="tab">
                    Clustering Coefficient
                    <div class="ripple-container"></div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane active" id="adjacency_ment">
              <table class="table">
                <thead class="text-warning">
                    <th>User</th>
                    <th>User</th>
                    <th>Weight</th>
                </thead>
                <tbody>
                  {% for row in concurreny_entities.adjacency %}
                <tr>
                  {% for col in row %}
                    <td>{{ col }}</td>
                  {% endfor %}
                </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="tab-pane " id="degree_ment">
              <table class="table">
                <thead class="text-warning">
                  {% for title in concurreny_entities.title %}
                    <th>{{ title }}</th>
                  {% endfor %}
                </thead>
                <tbody>
                  {% for row in concurreny_mentions.degree %}
                <tr>
                  {% for col in row %}
                    <td>{{ col }}</td>
                  {% endfor %}
                </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="tab-pane " id="betweenness_ment">
              <table class="table">
                <thead class="text-warning">
                  {% for title in concurreny_entities.title %}
                    <th>{{ title }}</th>
                  {% endfor %}
                </thead>
                <tbody>
                  {% for row in concurreny_mentions.betweenness %}
                <tr>
                    {% for col in row %}
                      <td>{{ col }}</td>
                    {% endfor %}
                </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="tab-pane " id="closeness_ment">
              <table class="table">
                <thead class="text-warning">
                  {% for title in concurreny_entities.title %}
                    <th>{{ title }}</th>
                  {% endfor %}
                </thead>
                <tbody>
                  {% for row in concurreny_mentions.closeness %}
                <tr>
                  {% for col in row %}
                    <td>{{ col }}</td>
                  {% endfor %}
                </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="tab-pane " id="clustering_ment">
              <table class="table">
                <thead class="text-warning">
                  {% for title in concurreny_entities.title %}
                    <th>{{ title }}</th>
                  {% endfor %}
                </thead>
                <tbody>
                  {% for row in concurreny_mentions.clustering %}
                <tr>
                  {% for col in row %}
                    <td>{{ col }}</td>
                  {% endfor %}
                </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-lg-3 col-md-12">
      <div class="card">
        <div class="card-header card-header-info">
          <h4 class="card-title">Hashtags</h4>
          <p class="card-category">Top {{ hashtag_data.totalCount }} Hashtags</p>
        </div>
        <div class="card-body table-responsive">
          <table class="table table-hover">
            <thead class="text-warning">
              <th> </th>
              <th>Hashtag</th>
              <th>Occurance</th>
            </thead>
            <tbody>
              {% for hashtag in hashtag_data.combined %}
                <tr>
                  {% for column in hashtag %}
                    <td>{{ column }}</td>
                  {% endfor %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="card">
        <div class="card-header card-header-tabs card-header-warning">
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
              <span class="nav-tabs-title">NEWS HEADLINES</span>
              <ul class="nav nav-tabs" data-tabs="tabs">
                <li class="nav-item">
                  <a class="nav-link active" href="#cnn" data-toggle="tab">
                    <i class="material-icons">local_library</i> CNN
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#breitbart" data-toggle="tab">
                    <i class="material-icons">local_library</i> Breitbart News
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#wpost" data-toggle="tab">
                    <i class="material-icons">local_library</i> The Washington Post
                    <div class="ripple-container"></div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane active" id="cnn">
              <table class="table">
                <tbody>
                  {% for news in headlines.cnn %}
                <tr>
                    <td>{{ news }}</td>
                </tr>
              {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="tab-pane" id="breitbart">
              <table class="table">
                <tbody>
                  {% for news in headlines.breitbart %}
                <tr>
                    <td>{{ news }}</td>
                </tr>
              {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="tab-pane" id="wpost">
              <table class="table">
                <tbody>
                  {% for news in headlines.washington %}
                <tr>
                    <td>{{ news }}</td>
                </tr>
              {% endfor %}
                </tbody>
              </table>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-11 col-md-12">
        <div class="card">
          <div class="card-header card-header-tabs card-header-info">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <span class="nav-tabs-title">CONCURRENCY GRAPH ANALYSIS (HASHTAGS)</span>
                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item">
                    <a class="nav-link active" href="#adjacency_hash" data-toggle="tab">
                      Most Connected
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " href="#degree_hash" data-toggle="tab">
                      Degree Centrality
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " href="#betweenness_hash" data-toggle="tab">
                      Betweenness Centrality
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " href="#closeness_hash" data-toggle="tab">
                      Closeness Centrality
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " href="#clustering_hash" data-toggle="tab">
                      Clustering Coefficient
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="adjacency_hash">
                <table class="table">
                  <thead class="text-warning">
                      <th>Hashtag</th>
                      <th>Hashtag</th>
                      <th>Weight</th>
                  </thead>
                  <tbody>
                    {% for row in concurreny_entities.adjacency %}
                  <tr>
                    {% for col in row %}
                      <td>{{ col }}</td>
                    {% endfor %}
                  </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <div class="tab-pane " id="degree_hash">
                <table class="table">
                  <thead class="text-warning">
                    {% for title in concurreny_entities.title %}
                      <th>{{ title }}</th>
                    {% endfor %}
                  </thead>
                  <tbody>
                    {% for row in concurreny_hashtags.degree %}
                  <tr>
                    {% for col in row %}
                      <td>{{ col }}</td>
                    {% endfor %}
                  </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <div class="tab-pane " id="betweenness_hash">
                <table class="table">
                  <thead class="text-warning">
                    {% for title in concurreny_entities.title %}
                      <th>{{ title }}</th>
                    {% endfor %}
                  </thead>
                  <tbody>
                    {% for row in concurreny_hashtags.betweenness %}
                  <tr>
                      {% for col in row %}
                        <td>{{ col }}</td>
                      {% endfor %}
                  </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <div class="tab-pane " id="closeness_hash">
                <table class="table">
                  <thead class="text-warning">
                    {% for title in concurreny_entities.title %}
                      <th>{{ title }}</th>
                    {% endfor %}
                  </thead>
                  <tbody>
                    {% for row in concurreny_hashtags.closeness %}
                  <tr>
                    {% for col in row %}
                      <td>{{ col }}</td>
                    {% endfor %}
                  </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <div class="tab-pane " id="clustering_hash">
                <table class="table">
                  <thead class="text-warning">
                    {% for title in concurreny_entities.title %}
                      <th>{{ title }}</th>
                    {% endfor %}
                  </thead>
                  <tbody>
                    {% for row in concurreny_hashtags.clustering %}
                  <tr>
                    {% for col in row %}
                      <td>{{ col }}</td>
                    {% endfor %}
                  </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              </div>
            </div>
          </div>
        </div>
    </div>

  <div class="row justify-content-center">
    <div class="col-lg-11 col-md-12">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">Sentiments</h4>
          <p class="card-category">Daily Percentage For The Most Recent {{ post_data.count }} Posts</p>
        </div>
        <div class="card-body table-responsive">
          <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

          <script type="text/javascript">
            google.charts.load('current', {'packages':['bar']});
            google.charts.setOnLoadCallback(drawChart);
            function drawChart() {
              var input_data = JSON.parse("{{sentiments|escapejs}}");
              var data = google.visualization.arrayToDataTable(input_data);
              var options = {
                chartArea:{
                  backgroundColor:"transparent"
                },
                axes: {
                  y: {
                    0: { side: 'left', label: 'Percentage'} // Top x-axis.
                  }
                },
                bars: 'vertical', // Required for Material Bar Charts.
                backgroundColor:"transparent",
                dataOpacity:0.8,
                colors: ['2b5e17','#1b9e77', '#e3c654','#de6a31', '#d9392b']
              };
      
              var chart = new google.charts.Bar(document.getElementById('barchart_material'));
      
              chart.draw(data, google.charts.Bar.convertOptions(options));
            }
          </script>
          
          <div id="barchart_material" style="opacity: 0.8;height: 500px;"></div>
        </div>
      </div>
    </div>
  </div>

    <div class="row justify-content-center">
      <div class="col-lg-11 col-md-12">
        <div class="card">
          <div class="card-header card-header-info">
            <h4 class="card-title">Tweets</h4>
            <p class="card-category">Content {{ post_data.count }} The Search</p>
          </div>
          <div class="card-body table-responsive">
            <table id="tweets_table" class="table table-hover">
              <thead class="text-warning">
                <th> </th>
                <th>Post Date</th>
                <th>Post</th>
                <th>Favourited</th>
                <th>Retweeted</th>
                <th>Sentiment</th>
              </thead>
              <tbody>
                {% for tweet in post_data.combined %}
                  <tr>
                    {% for column in tweet.data %}
                      <td><a href="https://twitter.com/{{ tweet.user_name }}/status/{{ tweet.id }}" target="_blank">{{ column }}</a></td>
                    {% endfor %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
