{% extends 'main/Layout.html' %}

{% block sidebar%}
<div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item ">
        <a class="nav-link" href="/analytics">
          <i class="material-icons">dashboard</i>
          <p>This Week</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" onclick="location.href = '/analytics/datesearch'">
          <i class="material-icons">date_range</i>
          <p>Search In Time</p>
        </a>
      </li>
      <li class="nav-item active ">
        <a class="nav-link" onclick="location.href = '/analytics/wordsearch'">
          <i class="material-icons">search</i>
          <p>Search For Words</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" onclick="location.href = '/analytics/account'">
          <i class="material-icons">person_outline</i>
          <p>Account</p>
        </a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block content%}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-xl-4 col-lg-12">
            <br>
            <br> 
            <div class="input-group no-border">
              <form action="/analytics/wordsearch/" method="POST">
                {% csrf_token %}
              <input id="search_words" name="search_words" type="text" class="form-control" placeholder="Search..." style="width:300px;">
              <button type="submit" class="btn btn-default btn-round btn-just-icon" style="float: right;">
                <i class="material-icons">search</i>
                <div class="ripple-container"></div>
              </button>
            </form>
            </div>
        </div>
    </div>
    
    <div class="row justify-content-center">
      <div class="col-lg-11 col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Entities</h4>
            <p class="card-category">Most Referenced Entities</p>
          </div>
          <div class="card-body table-responsive">
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

            <script type="text/javascript">
              google.charts.load('current', {'packages':['bar']});
              google.charts.setOnLoadCallback(drawChartEnt);
              function drawChartEnt() {
                var input_data_ent = JSON.parse("{{entities|escapejs}}");
                var data_ent = google.visualization.arrayToDataTable(input_data_ent);
                var options = {
                  chartArea:{
                    backgroundColor:"transparent"
                  },
                  axes: {
                    y: {
                      0: { side: 'left', label: 'Entities'} // Top x-axis.
                    }
                  },
                  bars: 'horizontal', // Required for Material Bar Charts.
                  backgroundColor:"transparent",
                  dataOpacity:0.8
                };
        
                var chart = new google.charts.Bar(document.getElementById('barchart_material'));
        
                chart.draw(data_ent, google.charts.Bar.convertOptions(options));
              }
            </script>
            
            <div id="barchart_material" style="opacity: 0.8;height: 500px;"></div>
          </div>
        </div>
      </div>
    </div>    
    
    
    
    <div class="row justify-content-center">
      <div class="col-lg-3 col-md-12">
        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title">Hashtags</h4>
            <p class="card-category">Top {{ hashtag_data.totalCount }} Hashtags</p>
          </div>
          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead class="text-warning">
                <th> </th>
                <th>Hashtag</th>
                <th>Occurance</th>
              </thead>
              <tbody>
                {% for hashtag in hashtag_data.combined %}
                  <tr>
                    {% for column in hashtag %}
                      <td>{{ column }}</td>
                    {% endfor %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="card">
          <div class="card-header card-header-tabs card-header-warning">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <span class="nav-tabs-title">NEWS HEADLINES</span>
                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item">
                    <a class="nav-link active" href="#cnn" data-toggle="tab">
                      <i class="material-icons">local_library</i> CNN
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#breitbart" data-toggle="tab">
                      <i class="material-icons">local_library</i> Breitbart News
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#wpost" data-toggle="tab">
                      <i class="material-icons">local_library</i> The Washington Post
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="cnn">
                <table class="table">
                  <tbody>
                    {% for news in headlines.cnn %}
                  <tr>
                      <td>{{ news }}</td>
                  </tr>
                {% endfor %}
                  </tbody>
                </table>
              </div>
              <div class="tab-pane" id="breitbart">
                <table class="table">
                  <tbody>
                    {% for news in headlines.breitbart %}
                  <tr>
                      <td>{{ news }}</td>
                  </tr>
                {% endfor %}
                  </tbody>
                </table>
              </div>
              <div class="tab-pane" id="wpost">
                <table class="table">
                  <tbody>
                    {% for news in headlines.washington %}
                  <tr>
                      <td>{{ news }}</td>
                  </tr>
                {% endfor %}
                  </tbody>
                </table>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    <div class="row justify-content-center">
      <div class="col-lg-11 col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Sentiments</h4>
            <p class="card-category">Daily Percentage For The Most Recent {{ post_data.count }} Posts</p>
          </div>
          <div class="card-body table-responsive">
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

            <script type="text/javascript">
              google.charts.load('current', {'packages':['bar']});
              google.charts.setOnLoadCallback(drawChart);
              function drawChart() {
                var input_data = JSON.parse("{{sentiments|escapejs}}");
                var data = google.visualization.arrayToDataTable(input_data);
                var options = {
                  chartArea:{
                    backgroundColor:"transparent"
                  },
                  axes: {
                    y: {
                      0: { side: 'left', label: 'Percentage'} // Top x-axis.
                    }
                  },
                  bars: 'vertical', // Required for Material Bar Charts.
                  backgroundColor:"transparent",
                  dataOpacity:0.8,
                  colors: ['#2b5e17','#1b9e77', '#e3c654','#de6a31', '#d9392b']
                };
        
                var chart = new google.charts.Bar(document.getElementById('barchart_material'));
        
                chart.draw(data, google.charts.Bar.convertOptions(options));
              }
            </script>
            
            <div id="barchart_material" style="opacity: 0.8;height: 500px;"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-11 col-md-12">
        <div class="card">
          <div class="card-header card-header-info">
            <h4 class="card-title">Tweets</h4>
            <p class="card-category">Most Recent {{ post_data.count }} Posts</p>
          </div>
          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead class="text-warning">
                <th> </th>
                <th>Post Date</th>
                <th>Post</th>
                <th>Favourited</th>
                <th>Retweeted</th>
                <th>Sentiment</th>
              </thead>
              <tbody>
                {% for tweet in post_data.combined %}
                  <tr>
                    {% for column in tweet %}
                      <td>{{ column }}</td>
                    {% endfor %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}